<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="nav">
            <h2>Logo</h2>
            <div class="nav-part2">
                <div class="elements">
                    <h4>Store</h4>
                    <h4>Course</h4>
                    <h4>Career</h4>
                    <h4>Blog</h4>
                </div>  
                <button>Explore Now</button>
                <i class="ri-menu-line"></i>
            </div>
    </div>
</body>
</html>