<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
    <%- include('header') %>
        <div class="content">
            <div class="left">
                <h1>Learn From the<span> Coolest Coding from India </span></h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis accusamus recusandae est. Mollitia, sit cum adipisci quae nobis nisi amet voluptatum nihil quaerat, cupiditate dolorum veritatis cumque maxime voluptatibus fuga.</p>
                <button>Explore Now</button>
                <form action="/addForm" method="GET"> 
                    <button type="submit">
                        Add New User
                    </button>
                </form>
                <form action="/customers" method="GET">
                    <button type="submit">
                        Show All Customers
                    </button>
                </form>
            </div>
            <div class="right">
                <img src="https://static.vecteezy.com/system/resources/previews/011/153/364/non_2x/3d-website-developer-working-on-laptop-illustration-png.png" alt="">
            </div>
        </div>
   </div>
</body>
</html>