<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="outer-form"> 
    <%- include('header') %> 
    <h1>Add New User</h1>
    
    <div class="form">
    <form action="/addUser" method="POST">
        <div class="form-content">
        <label class="label">Name</label>
        <input type="text" name="name" placeholder="Enter Name" class="input"></input>

        <label class="label">Email</label>
        <input type="text" name="email" placeholder="Enter Email" class="input"></input>

        <label class="label">Balance_amount</label>
        <input type="number" name="balance_amount" placeholder="Enter Account" class="input"></input>

        <label class="label">Contact Number</label>
        <input type="text" name="contact_number" placeholder="Enter Contact Number" class="input"></input>
        <button type="submit">
            Add
        </button>
    </div>
    </form>
</div>
</body>
</html>